body {
    width: 530px;
    height: 500px;
}

.editor__container {
    /* buttonとエディタが被ってしまうため、エディタの高さ分確保する。 */
    height: 400px;
    padding: 15px;
}

#editor {
    position: absolute;
    border: #7e7e7e 1px solid;
    width: 500px;
    height: 400px;
}

.options {
    padding: 0 15px;
    display: flex;
}

.options > .options__select {
    padding: 0 6px;
}

.button-area {
    padding: 15px 15px 0;
}
